<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Apply for {{ job.title }}</h2>

    <form method="POST" enctype="multipart/form-data">

       {% csrf_token %}

       <input type="text" name="name" placeholder="Your Name" required><br><br>
       <input type="email" name="email" placeholder="Your Email" required><br><br>
       <input type="file" name="resume" required><br><br>

       <button type="submit">Submit Application</button>
    
    </form>
    
</body>
</html>